        p.title { font-size: 160%; text-align: center; }
        div.toc > ul, div > ul > li > ul { list-style-type: none; }
        pre, code { color: darkRed; padding:0; font-family: 'Consolas', sans-serif }
        pre { background-color: lightGray; }
        html, body, p { font-family: 'Verdana', 'Ububtu', serif; }
        blockquote { margin-left: 2em; }