       * { font-family: sans-serif; }
        .title { text-align: center; margin: 0; margin-bottom: 1em; border-bottom: thin lightGray solid; }
        .author { text-align: right; }
        code { font-size: 120%; font-weight: bold; }
        pre, code { color: darkGreen; padding:0; font-family: 'Consolas', 'Ubuntu Mono', monospace; }
        pre code { color: black; font-weight: normal; font-size: 94%; }
        pre { background-color: antiqueWhite; }
        h1, h2, h3, h4, h5, h6 { border: none; margin-top: 1em; margin-bottom: 0.4em; }
	p.title { font-size: 250%; }
        h1 { font-size: 200%; }
        h2 { font-size: 162%; }
        h3 { font-size: 134%; }
        h4 { font-size: 114%; }
        h5 { font-size: 105%; }
        h6 { font-size: 100%; }